

#footer {
 /* background-color: rgb(57, 58, 63); */
 
  background-color: white;
  margin-top: 5rem;
  color: black;
  
}

#footericon {
  height: 1.5rem;
  width: 1.5rem;
  color: black;
}

#copyright {
  background-color: rgb(227, 230, 233);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#navbar {
  background-image: linear-gradient(#170725 2%,#290e2e 9%, #6e3f98);
}

#navlogo {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  color: #503047;
}

.navleft {
  margin-left: auto;
}

#navlogin {
  margin-top: 1.25rem;
}



.jumbotron-cover-image {
  position: relative;
  background: #000 url("https://www.incimages.com/uploaded_files/image/1920x1080/shutterstock_1028850391_366262.jpg") center center;
  width: 100%;
  height: 45rem;
  background-size: cover;
  color: #fff;
  text-align: left;
}

@media (min-width: 576px) {
.jumbotron {
    padding: 0rem 0rem 0rem 0rem;
}
}

#jumbodiv {
  background-color: white;
  justify-content: space-between;
  max-width: 36rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  position: absolute;
  top: 12rem;
  left: 5rem;
  border-radius: 5rem;
  color: black;
}

#jumbobtn {
  border-radius: 5rem;
  margin-top: 3rem;
}

#menu-footer-center {
  margin-left: 10rem;
}

.homejumbo {
  height: 20rem;
  background-color: rgb(212, 232, 235);
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.sidebaricon {
  color: rgb(102, 102, 102);
}

#sideNavText {
  color: rgb(100, 100, 100);
  font-family: sans-serif;
  font-size: 0.9rem;
}

.homegoals {
  background-color: blanchedalmond;
  height: 10rem;
  border-radius: 2rem;
}

.hometips {
  background-color: rgba(223, 157, 157, 0.781);
  height: 10rem;
  border-radius: 2rem;
}

.homeroutines {
  background-color: rgb(218, 156, 99);
  height: 10rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

.jumbopeopleimg {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40rem;
  width: 43rem;
  border-radius: 50%;
}

.bottomsidebar {
  margin-top: 14rem;
}

.sidenavlink {
  background-color: rgba(217, 223, 221, 0.829);
  border-radius: 2rem;
  height: 10rem;
}

#bottomlefthome {
  height: 10rem;
}

#toplefthome {
  height: 10rem;
}

#homejumbo {
  background-color: rgb(57, 30, 87);
  color: white;
  height: 16rem;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.11);
  z-index: 100;
  height: 75rem;
  width: 16rem;
}

#sidebar {
  position: -webkit-fixed;
  position: fixed;
  top: 0;
}

#navText {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.favoritestext {
  color: white;
}

#naviconbutton {
  border-radius: 50%;
  height: 2.5rem !important;
  width: 2,5rem !important;
  background: rgb(31,36,0);
  background: linear-gradient(90deg, rgba(31,36,0,1) 0%, rgba(9,55,121,1) 0%, rgba(0,119,255,1) 0%, rgba(92,5,161,1) 96%);
  border: none;
}

#sidenavicon {
  width: 1.2rem;
  height: 1.2rem;
}

#naviconbutton:hover {
  background: transparent;
}

#naviconbuttonlarge {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background: rgb(31,36,0);
  background: linear-gradient(90deg, rgba(31,36,0,1) 0%, rgba(9,55,121,1) 0%, rgba(0,119,255,1) 0%, rgba(92,5,161,1) 96%);
border: none;
}

.form-control {
  border-radius: 2rem;
}

.topcard {
  flex-direction: row;
  margin-bottom: 1rem;
  height: 4rem;
  width: 30rem;
  border-radius: 1rem;
}

#topcard {
  width: 20rem;
}

#topcardimg {
  width: 24%;
  height: 7rem;
}

.sleepcard {
  width: 13rem;
  height: 14.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 1.5rem;

}

.card-img-top {
  width: 100;
  height: 15vw;
  object-fit:fill;
}

.sleepcard2 {
  width: 14rem;
  height: 15.5rem;
  margin-bottom: 1rem;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  border-radius: 1.5rem;
  flex-direction: row;
  border: transparent;
}

#sleepcardtitle {
  color: white;
  height: 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0rem 0rem 1.4rem 1.4rem;
  background-color: rgba(0, 0, 0, 0.575);
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width: 14rem !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.sleepCardTitle {
  max-width: 14rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


#navtoplogo {
  color: white;
  height: 3rem;
}

.sleepheading {
  color: white;
  margin-top: 2.5rem;
}

.appdiv {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
 /* background: rgb(59,17,83);
background: linear-gradient(90deg, rgba(59,17,83,1) 3%, rgba(50,19,70,1) 58%, rgba(49,21,66,1) 75%, rgba(34,14,50,1) 96%); */
}

.sleepcontainer {
  display: flex;
  flex-direction: row;
}

.sleepcards {
  align-content: space-between;
  padding-right: 0rem;
}

.sleepcardsdiv {
  margin-right: 0rem;
}

.card-title {
  margin-top: 0.8rem;
  margin-left: 1rem;
}

.topsleepcard {
  background-image: url("https://media.istockphoto.com/vectors/milky-way-wide-banner-space-background-with-white-stars-starry-night-vector-id1227431200?k=20&m=1227431200&s=170667a&w=0&h=uR0AUQrNnuZPfIYljixGILlYtHuhviOsjwDRMESrV_4=");/* url("https://lh3.googleusercontent.com/u70yyjHe38xTDCdZg2VcO3Mc6vDf2Bapn24XG-dzqJPRzpRvToGAEfHd5qRpA3-otQGZgUlZ8wF45f3-YTlaQqCLp9p5JkwLwySDbg=h600"); */
  width: 82%;
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  flex-direction: row;
  margin-top: 8rem;
}

.topsleepcard:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
}

.topbreathecard {
  background-image: url("https://image.shutterstock.com/image-photo/magical-magnificent-blue-sky-panorama-260nw-1786265489.jpg");
  border-color: transparent;
  width: 82%;
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  flex-direction: row;
  margin-top: 8rem;
  border: none;
}

.topbreathecard:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}

.topmeditatecard {
  background-image: url("https://calgarycsl.org/ccsl/wp-content/uploads/2020/03/meditationbanner.jpg");
  border-color: transparent;
  width: 82%;
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  flex-direction: row;
  margin-top: 8rem;
  border: none;
}

.topmeditatecard:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}

/* .topcardshadow {
  background-color: rgba(26, 25, 25, 0.288);
  width: 100%;
  object-fit: cover;
} */

#favoritecard {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
}

#favoriteimg {
  height: 6rem;
  width: 6rem;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 1rem 0rem 0rem 1rem;
}

#favoritesbutton {
  height: 3rem;
  margin-top: auto;
  margin-bottom: 1.5rem;
  border-radius: 5rem;
  margin-left: 2rem;
}

#favheart {
  margin-left: 47rem;
  color:rgb(57, 30, 87);
  font-size: 1.6rem;
}

#favtrash {
  margin-left: 45rem;
  color:rgb(57, 30, 87);
  font-size: 1.6rem;
}

.favtitle {
  width:max-content;
  margin-left: 6rem;
  color: rgb(26, 25, 25);
}

#mainbg {
  background-color: rgb(57, 30, 87);
}

#sleepbg {
  background-color: rgba(16, 90, 65, 0.829);
}

#homebg {
  background-color: rgba(223, 157, 157, 0.781);
}

#favtopcard {
  background-image: url("https://cdn.pixabay.com/photo/2016/07/30/19/47/banner-1557841_960_720.jpg");
  width: 82%;
  height: 10rem;
  margin-bottom: 1rem;
  margin-top: 8rem;
  border-radius: 1.5rem;
  flex-direction: row;
}



#sleepnavdiv {
  margin-left: 1rem;
}

#sleepnav {
  box-shadow: none !important;
  height: 8rem;
  border-radius: 0rem 0rem 0rem 1.5rem;
  background: rgba(39, 29, 85, 0.301);
  background: linear-gradient(90deg, rgba(19, 14, 26, 0.685) 4%, rgba(21, 17, 41, 0.726) 37%, rgba(34, 18, 53, 0.726) 59%, rgba(43, 24, 54, 0.651) 100%);
}


#breathenav {
  box-shadow: none !important;
  height: 8rem;
  border-radius: 0rem 0rem 0rem 1.5rem;
  background: rgba(49, 36, 110, 0.301);
  background: linear-gradient(90deg, rgba(73, 81, 119, 0.692) 4%, rgba(76, 83, 145, 0.726) 37%, rgba(82, 88, 145, 0.726) 59%, rgba(88, 93, 143, 0.596) 100%);
}


#meditatenav {
  box-shadow: none !important;
  height: 8rem;
  border-radius: 0rem 0rem 0rem 1.5rem;
  background: rgba(49, 36, 110, 0.301);
  background: linear-gradient(90deg, rgba(42, 19, 75, 0.733) 4%, rgba(57, 29, 94, 0.726) 37%, rgba(75, 32, 95, 0.726) 59%, rgba(86, 35, 128, 0.726) 100%);
}

#favoritenav {
  box-shadow: none !important;
  height: 8rem;
  border-radius: 0rem 0rem 0rem 1.5rem;
  background: rgba(49, 36, 110, 0.301);
  background: linear-gradient(90deg, rgba(25, 13, 48, 0.733) 4%, rgba(34, 23, 75, 0.726) 37%, rgba(46, 25, 78, 0.726) 59%, rgba(51, 29, 80, 0.712) 100%);
}

#meditatenavdiv {
  margin-left: 3rem;
}

#breathenavdiv {
  margin-left: 1rem;
}

.breatheheading {
  color: white;
  margin-top: 2.5rem;
}

.meditateheading {
  color: white;
  margin-top: 2.5rem;
}

.favoriteheading {
  color: white;
  margin-top: 2.5rem;
}



#sideinput {
  width: 13rem;
  height: 2rem;
}

#sidebar {
  --offset: var(--space);
  /* ... */
  position: sticky;
  top: var(--offset);
  height: 100%;
}

@media (max-width: 768px) {
  .sidebar {
      display: none;
  }
}

#sleepshadow {
  background-color: rgba(14, 12, 12, 0.623);
  overflow-y: scroll;
  position:fixed;
  width:100%;
  height:100%;
  bottom:0px;
  right:0px;
  z-index: 90;
  padding-bottom: 10rem;
  padding-left: 1rem;
}

#meditateshadow {
  background-color: rgba(92, 7, 141, 0.342);
  overflow-y: scroll;
  position:fixed;
  width:100%;
  height:100%;
  bottom:0px;
  right:0px;
  z-index: 90;
  padding-bottom: 10rem;
  padding-left: 1rem;
}

#breatheshadow {
  background-color: rgba(88, 113, 165, 0.685);
  overflow-y: scroll;
  position:fixed;
  width:100%;
  height:100%;
  bottom:0px;
  right:0px;
  z-index: 90;
  padding-bottom: 10rem;
  padding-left: 1rem;
}

#favoriteshadow {
  background-color: rgba(29, 11, 63, 0.568);
  overflow-y: scroll;
  position:fixed;
  width:100%;
  height:100%;
  bottom:0px;
  right:0px;
  z-index: 90;
  padding-bottom: 10rem;
  padding-left: 1rem;
}

.appmaindiv {
  overflow-y: scroll;
  width: fit-content;
  justify-content: center;
}

#sleepcardimg {
  border-radius: 1.5rem !important;
  overflow: hidden;
  width: 100%;
height: 100%;
object-fit:cover;
}

.sleepcard2:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

#albumtable {
  color: whitesmoke;
  /* justify-content: center; */
}

.albumName {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.albumSong {
  font-size: 1.1rem;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.albumFavorite {
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  font-size: 1.3rem;
}

.trackFavorite {
  font-size: 1.1rem;
  color: white;
  margin-left: 0.2rem;
}

.trackDuration {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.trackNumber {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.albumClock {
  font-size: 1.2rem;
  margin-top: 0.4rem;
  margin-left: 0.3rem;
}

.albumArrow {
  font-size: 1.2rem;
  background-color: transparent;
  color: white !important;
  border-radius: 50%;
}

.albumbg {
  width: 100%;
  height:fit-content;
  overflow-y: scroll;
  position:fixed;
  width:100%;
  height:100%;
  bottom:0px;
  right:0px;
  margin-left: 20rem;
  background-image: url("https://images.hdqwalls.com/download/purple-sky-tz-1920x1080.jpg");
  /* background: rgb(102,29,79);
background: radial-gradient(circle, rgba(102,29,79,1) 0%, rgba(20,30,64,1) 0%, rgba(94,50,121,1) 31%, rgba(122,40,117,1) 49%, rgba(51,31,69,1) 98%); */
}

.albumContainer {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.trackNumber {
  margin-top: 0.2rem;
}

.sidebarbgdiv {
  width: 250px;
}

.breathesidebg {
  width: 250px !important;
}

.spinnerdiv {
  margin-top: 11rem;
  margin-left: auto;
  margin-right: auto;
  height: 22rem;
  width: 22rem;
}

.spinner {
  height: 10rem;
  width: 10rem;
}

.sidelogodiv {
  height: 4.5rem;
}

.favbtn {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  height: 1rem;
  width: 1rem;
  border-radius: 50% !important;
}